DATABASE_URL="postgresql://neondb_owner:npg_39JHaTlMozSy@ep-polished-voice-ai3glewv-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="https://CollegeIQ.vercel.app"
NEXTAUTH_SECRET="9080def75e3ec4cb664bb9075cf8c1d99d74f9ffd65bb713441df5aa905ffbd6"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_APP_URL="https://CollegeIQ.vercel.app"